<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	defaultTestSuite="unit"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="unit">
			<!-- Specific order, so we can use the dataProvider from main.php -->
			<file>./tests/test-custom-sidebars-by-proteusthemes.php</file>
			<file>./tests/inc/test-class-pt-cs-main.php</file>
			<file>./tests/inc/test-class-pt-cs-widgets.php</file>
			<file>./tests/inc/test-class-pt-cs-replacer.php</file>
			<file>./tests/inc/test-class-pt-cs-editor.php</file>
		</testsuite>
	</testsuites>
</phpunit>
